h1{
    background-color: orchid;
}
.fuman{
    background-color: green;
    color: red
}
.masouleh{
    background-color: greenyellow;
    color: blueviolet
}
.masal{
    background-color: khaki;
    color: brown;
}
#behdad{
    font-size: xx-large;
}