header{
    text-align: center;
    font-size: 40px;
    background-color: thistle;
    padding: 20px;
}
nav{
    background-color: rgb(233, 233, 233);
    text-align: left;
}

.nav-link{
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: black;
}
article{
    float: left;
    background-color: thistle;
    width: 75%;
    height: 500px;
}

aside{
    float: right;
    background-color: rgb(97, 71, 97);
    width: 25%;
    height: 500px;

}
hr{
    width: 90%;
}
.title, .description, small{
    padding-left: 50px;
    padding-right: 50px;
}
.description{
    text-align: justify;
}
.aside-title{
    padding-left: 10px;
    color: white;
}
.aside-img{
    padding-left: 55px;
}
.aside-text{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
footer{
    color: rgb(57, 39, 78);
    text-align: center;
    padding-top: 100px;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}