<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap5/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="bg-dark">
    <div class="app">
        <div class="container">
            <div class="text-danger display-3">Registration</div>
            <div class="row mt-5">
                <div class="col-2">
                    <label for="first_name" class="col-form-label text-danger">First Name</label>
                </div>
                <div class="col-10">
                    <input v-model="f_name" type="text" id="first_name" class="form-control" >
                </div>

                <div class="col-2">
                    <label for="last_name" class="col-form-label text-danger">Last Name</label>
                </div>
                <div class="col-10">
                    <input v-model="l_name" type="text" id="last_name" class="form-control" >
                </div>
                
                <div class="col-2">
                    <label for="job" class="col-form-label text-danger">Job Title</label>
                </div>
                <div class="col-10">
                    <input v-model="job" type="text" id="job" class="form-control" >
                </div>

                <div class="col-2">
                    <label for="hobbies" class="col-form-label text-danger">Hobbies</label>
                </div>
                <div class="col-10">
                    <textarea v-model='des' id="hobbies" class="form-control"></textarea>
                </div>
                <button @click="create" class="btn btn-success mt-3">Register</button>
            </div>
            <hr class="text-warning">
            <p class="text-primary display-3">{{ count }} Persons have been registered!</p>
            <div class="row">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                    <div class="col" v-for="(person, index) in persons">
                      <div class="card h-100">
                        <img src="image/profile.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title mb-0">{{ full(index) }}</h5>
                          <small class="text-muted">{{ person.job }}</small>
                          <p class="card-text">{{ person.description }}</p>
                        </div>
                      </div>
                    </div>

                  </div>
            </div>
        </div>
    </div>
    <script src="bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el: '.app',
            data: {
                f_name: '',
                l_name: '',
                job: '',
                des: '',
                persons:[
                    {first_name:'Sepehr', last_name:'Saei', job: 'Business Man', description:'Sepehr is a cool guy who always want to play games!'}
                ]
            },
            computed:{
                count: function(){
                    return this.persons.length
                }
            },
            methods: {
                full: function(index){
                    person = this.persons[index];
                    return person.first_name+" "+person.last_name;
                },
                create: function(){
                    if(this.first_name != '' && this.last_name  != '' && this.job != '' && this.des != '' ){
                        person = {
                            first_name: this.f_name,
                            last_name:this.l_name,
                            job: this.job,
                            description: this.des
                        }
                        this.persons.push(person)
                        this.f_name= ''
                        this.l_name= ''
                        this.job= ''
                        this.des= ''
                        }
                }
            }
        })
    </script>
</body>
</html>